Proyecto Individual I | /usuario614

USER_ITEMS

In [1]:
#Iportamos librerias a utilizar

import pandas as pd
import json
import ast

In [2]:
#Cargamos el archivo json y lo convertimos en dataframe
def l_a_c():
    with open("australian_users_items.json",'rt', encoding='utf-8') as file:
        return[ast.literal_eval(line.strip())
            for line in file]
        
datos = l_a_c()

df_item = pd.DataFrame(datos)

df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [3]:
df_item

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [4]:
#Fragmentamos el archivo para poder desanidarlo sin problemas con el kernel

chunk_size = 1000  # Elige el tamaño del fragmento

# Dividimos el DataFrame en fragmentos
fragmentos = [df_item[i:i + chunk_size] for i in range(0, len(df_item), chunk_size)]

In [5]:
#Creamos la funcion para desanidar

import pandas as pd

def de_nest_items(df):
    # Explotamos la columna 'items' en múltiples filas
    items = df['items'].explode()

    # Eliminamos la columna 'items' original
    df = df.drop('items', axis=1)

    # Concatenamos los datos de 'items' con el DataFrame original
    df = pd.concat([df, items.apply(pd.Series)], axis=1)

    return df

In [6]:
fragmentos_desanidados = [de_nest_items(fragmento) for fragmento in fragmentos]

In [7]:
df_final = pd.concat(fragmentos_desanidados)

In [8]:
df_final

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0,NaN
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [11]:
#Eliminamos las columnas que no nos son necesarias
df_final.drop([0,'steam_id','playtime_2weeks'], axis=1, inplace=True)

In [12]:
#Eliminamos los registros con valor nulo en todos los campos
df_final.dropna(how='all', inplace=True)

In [13]:
#Eliminamos duplicados
df_final=df_final.drop_duplicates()

In [14]:
#Generamos una muestra del dataframe para probar las funciones
df_final_sample = df_final.sample(50000)

In [15]:
df_final_sample

,user_id,items_count,user_url,item_id,item_name,playtime_forever
41183,76561198058972456,167,http://steamcommunity.com/profiles/76561198058...,39000,Moonbase Alpha,39.0
8768,317984739321,75,http://steamcommunity.com/id/317984739321,212180,Combat Arms,0.0
70225,76561198074760919,54,http://steamcommunity.com/profiles/76561198074...,365300,Transmissions: Element 120,1.0
59453,thatmayor,91,http://steamcommunity.com/id/thatmayor,340,Half-Life 2: Lost Coast,0.0
51620,76561198044513180,57,http://steamcommunity.com/profiles/76561198044...,550,Left 4 Dead 2,213.0
...,...,...,...,...,...,...
33763,nathoisthesickest,146,http://steamcommunity.com/id/nathoisthesickest,91330,Iron Front : Liberation 1944,99.0
26155,76561198084008606,59,http://steamcommunity.com/profiles/76561198084...,12220,Grand Theft Auto: Episodes from Liberty City,0.0
65545,76561198070016671,37,http://steamcommunity.com/profiles/76561198070...,200210,Realm of the Mad God,250.0
13223,MrEdskiies,201,http://steamcommunity.com/id/MrEdskiies,224540,Ace of Spades,419.0
41604,xinyo,2161,http://steamcommunity.com/id/xinyo,212030,Kung Fu Strike: The Warrior's Rise,27.0

In [16]:
#Guardamos la muestra en un archivo parquet
df_final_sample = df_final_sample.to_parquet("df_final_sample.parquet", index=False)